In [1]:
import numpy as np
import pandas as pd

In [2]:
# # copy the text between the triple-quotes to the clipboard
# '''
# geonameid         : integer id of record in geonames database
# name              : name of geographical point (utf8) varchar(200)
# asciiname         : name of geographical point in plain ascii characters, varchar(200)
# alternatenames    : alternatenames, comma separated, ascii names automatically transliterated, convenience attribute from alternatename table, varchar(10000)
# latitude          : latitude in decimal degrees (wgs84)
# longitude         : longitude in decimal degrees (wgs84)
# feature class     : see http://www.geonames.org/export/codes.html, char(1)
# feature code      : see http://www.geonames.org/export/codes.html, varchar(10)
# country code      : ISO-3166 2-letter country code, 2 characters
# cc2               : alternate country codes, comma separated, ISO-3166 2-letter country code, 200 characters
# admin1 code       : fipscode (subject to change to iso code), see exceptions below, see file admin1Codes.txt for display names of this code; varchar(20)
# admin2 code       : code for the second administrative division, a county in the US, see file admin2Codes.txt; varchar(80) 
# admin3 code       : code for third level administrative division, varchar(20)
# admin4 code       : code for fourth level administrative division, varchar(20)
# population        : bigint (8 byte int) 
# elevation         : in meters, integer
# dem               : digital elevation model, srtm3 or gtopo30, average elevation of 3''x3'' (ca 90mx90m) or 30''x30'' (ca 900mx900m) area in meters, integer. srtm processed by cgiar/ciat.
# timezone          : the iana timezone id (see file timeZone.txt) varchar(40)
# modification date : date of last modification in yyyy-MM-dd format
# '''
# gn_fields = pd.read_clipboard(sep=' : |\n',header=None, names=['field','description'])
# gn_fields.to_csv('src/geonames/main_table_descriptions.csv',index=False)

In [3]:
gn_fields = pd.read_csv('src/geonames/main_table_descriptions.csv')
gn_fields

                field                                        description
0   geonameid                  integer id of record in geonames database
1   name                  name of geographical point (utf8) varchar(200)
2   asciiname          name of geographical point in plain ascii char...
3   alternatenames     alternatenames, comma separated, ascii names a...
4   latitude                         latitude in decimal degrees (wgs84)
5   longitude                       longitude in decimal degrees (wgs84)
6   feature class      see http://www.geonames.org/export/codes.html,...
7   feature code       see http://www.geonames.org/export/codes.html,...
8   country code            ISO-3166 2-letter country code, 2 characters
9   cc2                alternate country codes, comma separated, ISO-...
10  admin1 code        fipscode (subject to change to iso code), see ...
11  admin2 code        code for the second administrative division, a...
12  admin3 code        code for third level administrative division, ...
13  admin4 code        code for fourth level administrative division,...
14  population                                       bigint (8 byte int)
15  elevation                                         in meters, integer
16  dem                digital elevation model, srtm3 or gtopo30, ave...
17  timezone           the iana timezone id (see file timeZone.txt) v...
18  modification date     date of last modification in yyyy-MM-dd format

In [4]:
cities_columns = pd.Index(gn_fields.iloc[:,0].str.strip().values)

In [5]:
cities_columns

Index(['geonameid', 'name', 'asciiname', 'alternatenames', 'latitude',
       'longitude', 'feature class', 'feature code', 'country code', 'cc2',
       'admin1 code', 'admin2 code', 'admin3 code', 'admin4 code',
       'population', 'elevation', 'dem', 'timezone', 'modification date'],
      dtype='object')

In [6]:
geo_na = ['', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
          '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NULL', 'NaN', 'n/a',
          'nan', 'null']

In [7]:
cities = pd.read_csv('src/geonames/cities500.txt',
                     sep='\t',
                     dtype={'admin1 code':str,
                            'admin2 code':str,
                            'admin3 code':str,
                            'admin4 code':str,
                            'population':int},
                     header=0,
                     names=cities_columns,
                     na_values=geo_na,
                     keep_default_na=False)
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197594 entries, 0 to 197593
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   geonameid          197594 non-null  int64
 1   name               197594 non-null  object
 2   asciiname          197577 non-null  object
 3   alternatenames     162255 non-null  object
 4   latitude           197594 non-null  float64
 5   longitude          197594 non-null  float64
 6   feature class      197594 non-null  object
 7   feature code       197593 non-null  object
 8   country code       197594 non-null  object
 9   cc2                6359 non-null    object
 10  admin1 code        197564 non-null  object
 11  admin2 code        167061 non-null  object
 12  admin3 code        90112 non-null   object
 13  admin4 code        32506 non-null   object
 14  population         197594 non-null  int64
 15  elevation          33445 non-null   float64
 16  dem                197594 non-null  int64
 17  timezone           197594 non-null  object
 18  modification date  197594 non-null  object
dtypes: float64(3), int64(3), object(13)
memory usage: 28.6+ MB

In [8]:
cities.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,02,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03
1,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,NaN,06,NaN,NaN,NaN,8022,NaN,921,Europe/Andorra,2013-11-23
2,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.54277,1.73361,P,PPL,AD,NaN,03,NaN,NaN,NaN,2363,2050.0,2106,Europe/Andorra,2008-06-09
3,3039678,Ordino,Ordino,"Ordino,ao er di nuo,orudino jiao qu,Ордино,オルデ...",42.55623,1.53319,P,PPLA,AD,NaN,05,NaN,NaN,NaN,3066,NaN,1296,Europe/Andorra,2018-10-26
4,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,08,NaN,NaN,NaN,15853,NaN,1033,Europe/Andorra,2008-10-15

In [9]:
cities = cities.drop(['geonameid',
                      'feature class',
                      'feature code',
                      'admin3 code',
                      'admin4 code',
                      'elevation',
                      'dem',
                      'timezone',
                      'modification date'],
                     axis = 1)

In [10]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197594 entries, 0 to 197593
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            197594 non-null  object
 1   asciiname       197577 non-null  object
 2   alternatenames  162255 non-null  object
 3   latitude        197594 non-null  float64
 4   longitude       197594 non-null  float64
 5   country code    197594 non-null  object
 6   cc2             6359 non-null    object
 7   admin1 code     197564 non-null  object
 8   admin2 code     167061 non-null  object
 9   population      197594 non-null  int64
dtypes: float64(2), int64(1), object(7)
memory usage: 15.1+ MB

In [11]:
countries = pd.read_csv('src/geonames/countryInfo.txt', 
                        sep='\t',
                        header=50,
                        na_values=geo_na,
                        keep_default_na=False)
countries = countries.rename(columns={'#ISO':'ISO'})

In [12]:
iso_mapto_ctryname = countries[['ISO','Country']].set_index('ISO',drop=True)['Country']
cities['country'] = cities['country code'].map(iso_mapto_ctryname, na_action='ignore')

In [13]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197594 entries, 0 to 197593
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            197594 non-null  object
 1   asciiname       197577 non-null  object
 2   alternatenames  162255 non-null  object
 3   latitude        197594 non-null  float64
 4   longitude       197594 non-null  float64
 5   country code    197594 non-null  object
 6   cc2             6359 non-null    object
 7   admin1 code     197564 non-null  object
 8   admin2 code     167061 non-null  object
 9   population      197594 non-null  int64
 10  country         197594 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 16.6+ MB

In [14]:
a1_codes = pd.read_csv('src/geonames/admin1CodesASCII.txt',
                       sep='\t|\n',
                       engine='python',
                       names=['code', 'name', 'name ascii', 'geonameid'])

In [15]:
a1_codes.head()

    code                 name           name ascii  geonameid
0  AD.06  Sant Julià de Loria  Sant Julia de Loria    3039162
1  AD.05               Ordino               Ordino    3039676
2  AD.04           La Massana           La Massana    3040131
3  AD.03               Encamp               Encamp    3040684
4  AD.02              Canillo              Canillo    3041203

In [16]:
a2_codes = pd.read_csv('src/geonames/admin2Codes.txt',
                       sep='\t|\n',
                       engine='python',
                       names=['concatenated codes', 'name', 'asciiname', 'geonameId'])

In [17]:
a2_codes.head()

,concatenated codes,name,asciiname,geonameId
0,AE.01.101,Abu Dhabi Municipality,Abu Dhabi Municipality,12047239
1,AE.01.102,Al Ain Municipality,Al Ain Municipality,12047240
2,AE.01.103,Al Dhafra,Al Dhafra,12047241
3,AE.04.701,Al Fujairah Municipality,Al Fujairah Municipality,12047242
4,AE.04.702,Dibba Al Fujairah Municipality,Dibba Al Fujairah Municipality,12047243

In [18]:
a1_codes_split = a1_codes['code'].str.split('.',expand=True)
a1_codes_split = a1_codes_split.join(a1_codes['name'])
a1code_mapto_a1name = a1_codes_split.set_index([0,1])
a1code_mapto_a1name = a1code_mapto_a1name['name'].rename('admin1')

In [19]:
a1code_mapto_a1name

0   1
AD  06    Sant Julià de Loria
    05                 Ordino
    04             La Massana
    03                 Encamp
    02                Canillo
                 ...
ZW  04       Mashonaland East
    03    Mashonaland Central
    01             Manicaland
    09               Bulawayo
    10                 Harare
Name: admin1, Length: 3871, dtype: object

In [20]:
a2_codes_split = a2_codes['concatenated codes'].str.split('.',expand=True)
a2_codes_split = a2_codes_split.join(a2_codes['name'])
a2code_mapto_a2name = a2_codes_split.set_index([0,1,2])
a2code_mapto_a2name = a2code_mapto_a2name['name'].rename('admin2')

In [21]:
a2code_mapto_a2name

0   1   2
AE  01  101                  Abu Dhabi Municipality
        102                     Al Ain Municipality
        103                               Al Dhafra
    04  701                Al Fujairah Municipality
        702          Dibba Al Fujairah Municipality
                                 ...
ZW  07  10800403                  Bulilima District
    05  10800410                    Zvimba District
    04  10800411    Uzumba-Maramba-Pfungwe District
    06  10800412                    Umguza District
    01  11204515                 Mossurize District
Name: admin2, Length: 45297, dtype: object

In [22]:
cities = cities.join(a1code_mapto_a1name, on=['country code','admin1 code'])

In [23]:
cities = cities.join(a2code_mapto_a2name, on=['country code','admin1 code','admin2 code'])

In [24]:
cities = cities.drop(['cc2','admin1 code','admin2 code'],axis=1)

In [25]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197594 entries, 0 to 197593
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            197594 non-null  object
 1   asciiname       197577 non-null  object
 2   alternatenames  162255 non-null  object
 3   latitude        197594 non-null  float64
 4   longitude       197594 non-null  float64
 5   country code    197594 non-null  object
 6   population      197594 non-null  int64
 7   country         197594 non-null  object
 8   admin1          197413 non-null  object
 9   admin2          159437 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 15.1+ MB

In [26]:
cities.to_csv('geo/cities.csv',index=False)

In [27]:
cities['alternatenames'] = cities['alternatenames'].fillna(cities['asciiname'])

In [28]:
mask = cities['alternatenames'].notna()
cities.loc[mask,'alternatenames'] = cities.loc[mask,'alternatenames'].str.cat(cities.loc[mask,'name'],sep=',')
cities['alternatenames'] = cities['alternatenames'].fillna(cities['name'])

In [29]:
ctyan_all_tiers = cities.sort_values('population',ascending=False)

ctyan_all_tiers = ctyan_all_tiers[['alternatenames','admin2','admin1','country','name']].copy()

ctyan_all_tiers['alternatenames'] = ctyan_all_tiers['alternatenames'].str.replace(', ','')

ctyan_all_tiers['alternatenames'] = ctyan_all_tiers['alternatenames'].str.split(',')

ctyan_all_tiers = ctyan_all_tiers.explode('alternatenames')

ctyan_all_tiers['alternatenames'] = ctyan_all_tiers['alternatenames'].str.strip()

In [30]:
ctyan_all_tiers[ctyan_all_tiers['alternatenames']=='New York']

       alternatenames       admin2     admin1        country           name
187798       New York          NaN   New York  United States  New York City
186460       New York  York County   Nebraska  United States           York
190315       New York  Rock County  Wisconsin  United States        Clinton

In [31]:
ctyan_a2_to_cty = ctyan_all_tiers[['alternatenames','admin2','name']]
ctyan_a2_to_cty = ctyan_a2_to_cty.drop_duplicates(['alternatenames','admin2'])
ctyan_a2_to_cty = ctyan_a2_to_cty.dropna()
ctyan_a2_to_cty = ctyan_a2_to_cty.reset_index(drop=True)

In [32]:
ctyan_a2_to_cty.to_csv('geo/str_maps/ctyan_a2_to_cty.csv',index=False)

In [33]:
ctyan_a1_to_cty = ctyan_all_tiers[['alternatenames','admin1','name']]

ctyan_a1_to_cty = ctyan_a1_to_cty.drop_duplicates(['alternatenames','admin1'])
ctyan_a1_to_cty = ctyan_a1_to_cty.dropna()
ctyan_a1_to_cty = ctyan_a1_to_cty.reset_index(drop=True)

In [34]:
ctyan_a1_to_cty.to_csv('geo/str_maps/ctyan_a1_to_cty.csv',index=False)

In [35]:
ctyan_ctr_to_cty = ctyan_all_tiers[['alternatenames','country','name']]

ctyan_ctr_to_cty = ctyan_ctr_to_cty.drop_duplicates(['alternatenames','country'])
ctyan_ctr_to_cty = ctyan_ctr_to_cty.dropna()
ctyan_ctr_to_cty = ctyan_ctr_to_cty.reset_index(drop=True)

In [36]:
ctyan_ctr_to_cty.to_csv('geo/str_maps/ctyan_ctr_to_cty.csv',index=False)

In [37]:
# cty_to_a2

nunique = cities.groupby('name')['admin2'].nunique()

singletons = nunique[nunique==1].index

mask = cities['name'].isin(singletons)

cty_to_a2 = cities[mask][['name','admin2']].dropna()

cty_to_a2 = cty_to_a2.drop_duplicates().reset_index(drop=True)

cty_to_a2.to_csv('geo/str_maps/cty_to_a2.csv',index=False)

In [38]:
columns = ['name','admin1','admin2']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

cty_a1_to_a2 = cities[mask][columns].dropna()

cty_a1_to_a2 = cty_a1_to_a2.drop_duplicates().reset_index(drop=True)

cty_a1_to_a2.to_csv('geo/str_maps/cty_a1_to_a2.csv',index=False)

In [39]:
columns = ['name','country','admin2']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

cty_ctr_to_a2 = cities[mask][columns].dropna()

cty_ctr_to_a2 = cty_ctr_to_a2.drop_duplicates().reset_index(drop=True)

cty_ctr_to_a2.to_csv('geo/str_maps/cty_ctr_to_a2.csv',index=False)

In [40]:
columns = ['name','admin1','country','admin2']

nunique = cities.groupby(columns[:3])[columns[3]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ').str.cat(singletons[columns[2]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').str.cat(cities[columns[2]],sep=', ')
mask = mask.isin(singletons.values)

cty_a1_ctr_to_a2 = cities[mask][columns].dropna()

cty_a1_ctr_to_a2 = cty_a1_ctr_to_a2.drop_duplicates().reset_index(drop=True)

cty_a1_ctr_to_a2.to_csv('geo/str_maps/cty_a1_ctr_to_a2.csv',index=False)

In [41]:
a2_to_a1 = cities.groupby('admin2')['admin1'].nunique()[(cities.groupby('admin2')['admin1'].nunique()==1)].index

a2_to_a1 = cities[cities['admin2'].isin(a2_to_a1)][['admin2','admin1']].dropna()

a2_to_a1 = a2_to_a1.drop_duplicates().reset_index(drop=True)

a2_to_a1.to_csv('geo/str_maps/a2_to_a1.csv',index=False)

In [42]:
cty_to_a1 = cities.groupby('name')['admin1'].nunique()[(cities.groupby('name')['admin1'].nunique()==1)].index

cty_to_a1 = cities[cities['name'].isin(cty_to_a1)][['name','admin1']].dropna()

cty_to_a1 = cty_to_a1.drop_duplicates().reset_index(drop=True)

cty_to_a1.to_csv('geo/str_maps/cty_to_a1.csv',index=False)

In [43]:
columns = ['name','admin2','admin1']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

cty_a2_to_a1 = cities[mask][columns].dropna()

cty_a2_to_a1 = cty_a2_to_a1.drop_duplicates().reset_index(drop=True)

cty_a2_to_a1.to_csv('geo/str_maps/cty_a2_to_a1.csv',index=False)

In [44]:
columns = ['name','country','admin1']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

cty_ctr_to_a1 = cities[mask][columns].dropna()

cty_ctr_to_a1 = cty_ctr_to_a1.drop_duplicates().reset_index(drop=True)

cty_ctr_to_a1.to_csv('geo/str_maps/cty_ctr_to_a1.csv',index=False)

In [45]:
columns = ['admin2','country','admin1']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

a2_ctr_to_a1 = cities[mask][columns].dropna()

a2_ctr_to_a1 = a2_ctr_to_a1.drop_duplicates().reset_index(drop=True)

a2_ctr_to_a1.to_csv('geo/str_maps/a2_ctr_to_a1.csv',index=False)

In [46]:
columns = ['name','admin2','country','admin1']

nunique = cities.groupby(columns[:3])[columns[3]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ').str.cat(singletons[columns[2]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').str.cat(cities[columns[2]],sep=', ')
mask = mask.isin(singletons.values)

cty_a2_ctr_to_a1 = cities[mask][columns].dropna()

cty_a2_ctr_to_a1 = cty_a2_ctr_to_a1.drop_duplicates().reset_index(drop=True)

cty_a2_ctr_to_a1.to_csv('geo/str_maps/cty_a2_ctr_to_a1.csv',index=False)

In [47]:
a1_to_ctr = cities.groupby('admin1')['country'].nunique()[(cities.groupby('admin1')['country'].nunique()==1)].index

a1_to_ctr = cities[cities['admin1'].isin(a1_to_ctr)][['admin1','country']].dropna()

a1_to_ctr = a1_to_ctr.drop_duplicates().reset_index(drop=True)

a1_to_ctr.to_csv('geo/str_maps/a1_to_ctr.csv',index=False)

In [48]:
a2_to_ctr = cities.groupby('admin2')['country'].nunique()[(cities.groupby('admin2')['country'].nunique()==1)].index

a2_to_ctr = cities[cities['admin2'].isin(a2_to_ctr)][['admin2','country']].dropna()

a2_to_ctr = a2_to_ctr.drop_duplicates().reset_index(drop=True)

a2_to_ctr.to_csv('geo/str_maps/a2_to_ctr.csv',index=False)

In [49]:
cty_to_ctr = cities.groupby('name')['country'].nunique()[(cities.groupby('name')['country'].nunique()==1)].index

cty_to_ctr = cities[cities['name'].isin(cty_to_ctr)][['name','country']].dropna()

cty_to_ctr = cty_to_ctr.drop_duplicates().reset_index(drop=True)

cty_to_ctr.to_csv('geo/str_maps/cty_to_ctr.csv',index=False)

In [50]:
columns = ['admin2','admin1','country']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

a2_a1_to_ctr = cities[mask][columns].dropna()

a2_a1_to_ctr = a2_a1_to_ctr.drop_duplicates().reset_index(drop=True)

a2_a1_to_ctr.to_csv('geo/str_maps/a2_a1_to_ctr.csv',index=False)

In [51]:
columns = ['name','admin1','country']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

cty_a1_to_ctr = cities[mask][columns].dropna()

cty_a1_to_ctr = cty_a1_to_ctr.drop_duplicates().reset_index(drop=True)

cty_a1_to_ctr.to_csv('geo/str_maps/cty_a1_to_ctr.csv',index=False)

In [52]:
columns = ['name','admin2','country']

nunique = cities.groupby(columns[:2])[columns[2]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').isin(singletons.values)

cty_a2_to_ctr = cities[mask][columns].dropna()

cty_a2_to_ctr = cty_a2_to_ctr.drop_duplicates().reset_index(drop=True)

cty_a2_to_ctr.to_csv('geo/str_maps/cty_a2_to_ctr.csv',index=False)

In [53]:
columns = ['name','admin2','admin1','country']

nunique = cities.groupby(columns[:3])[columns[3]].nunique()

singletons = nunique[nunique==1].reset_index()
singletons = singletons[columns[0]].str.cat(singletons[columns[1]],sep=', ').str.cat(singletons[columns[2]],sep=', ')

mask = cities[columns[0]].str.cat(cities[columns[1]],sep=', ').str.cat(cities[columns[2]],sep=', ')
mask = mask.isin(singletons.values)

cty_a2_a1_to_ctr = cities[mask][columns].dropna()

cty_a2_a1_to_ctr = cty_a2_a1_to_ctr.drop_duplicates().reset_index(drop=True)

cty_a2_a1_to_ctr.to_csv('geo/str_maps/cty_a2_a1_to_ctr.csv',index=False)